.register-container{
    display: block;
    margin: auto;
    margin-top: 100px;
    min-height: 83vh;
    width: 500px;
    text-align: center;

    &__h1{
        font-family: $header-btn-font;
    }
}

.register-form{
    &__fieldset{
        border: 2px groove $confirm-btn;
    }
    &__field{
        margin-top: 15px;
    }
    &__label{
        font-family: $input-font;
        font-size: 16px;
        color: black;
    }
    &__input{
        display: block;
        margin: auto;
        width: 250px;
        height: 30px;
        margin-top: 15px;
        color: black;
        font-family: $input-font;
        font-size: 16px;
    }
    &__submit{
        height: 35px;
        width: 100px;
        margin-top: 20px;
        background-color: $ripoff-blue;
        border-color: $ripoff-blue;
        border-radius: 5px;
        font-size: 14px;
        font-weight: bold;
        font-family: $header-btn-font;
        color: white;
    }
}