@import url('https://fonts.googleapis.com/css2?family=Acme&family=Source+Code+Pro:wght@500&family=Ubuntu&display=swap');

//fonts
$header-btn-font: 'Source Code Pro', monospace;
$input-font: 'Ubuntu', sans-serif;
$menu-font: 'Acme', sans-serif;

//colors
$ripoff-blue: #3b5998;
$confirm-btn: #30D318;
$msg-yellow: #efe977;